body {
    background-color: var(--background-color);
    color: var(--text-dark);
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--background-color);
}

.nav__link .bill__icon:hover {
    color: var(--item-colour);
}

.nav__link:hover {
    color: var(--item-colour);
}

.table {
    width: 100%;
    margin: 0 auto;
    border-spacing: 0;
    color: var(--text-dark);
}

.table__cell {
    padding: 1.25rem 1rem;
}

.table__cell--header {
    text-align: center;
    padding: 0.5rem 1rem;
    border-bottom: var(--border);
}

.table__element {
    font-weight: 600;
}

.table__link {
    color: var(--accent-colour-2);
    text-decoration: none;
}

.table__link:hover {
    color: var(--accent-colour);
    text-decoration: underline;
    text-decoration-color: var(--accent-colour);
}

.table__empty {
    display: block;
    text-align: center;
    font-size: 1rem;
}

.bill__edit {
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-left: 1rem;
    color: inherit;
}

.bill__edit:hover {
    text-decoration: underline;
    color: var(--item-colour);
}

.pencil {
    width: 2em;
    height: 3em;
    margin-left: 3px;
}

.bill__delete {
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-left: 1rem;
    color: inherit;
}

.bill__delete:hover {
    text-decoration: underline;
    color: var(--item-colour);
}

.button--add {
    display: flex;
    height: 2.5rem;
    margin-top: 13px;
    width: auto;
    border: var(--border);
    border-radius: 5px;
    color: var(--text-dark);
    text-decoration: none;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 50em) {
    .button--add {
        right: 3rem;
    }
}

@media screen and (min-width: 80em) {
    .button--add {
        right: 4rem;
    }
}

.button--add:hover {
    color: var(--text);
    background-color: var(--item-colour);
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

/* Estilo para o conteúdo do popup */
.popup {
    display: block;
    position: fixed;
    background-color: var(--background-color);
    color: var(--text-dark);
    border: var(--border-1px);
    border-radius: 5px;
    width: 95%;
    z-index: 1000;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
}

button {
    font-weight: bold;
    color: var(--text-inverted);
    background-color: var(--background-color-inverted);
    padding: 10px 20px;
    border-radius: 5px;
    width: 15rem;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    cursor: pointer; 
}
  
button:hover {
    color: var(--text-dark);
    background-color: var(--background-color);
    border: var(--border-1px);
}

@media screen and (min-width: 24.75em) {
    .popup {
        padding: 2rem;
    }
}

@media screen and (min-width: 30em) {
    .popup {
        padding: 2.5rem;
    }
}

/* Small devices (landscape phones, 767.98px and up) */
@media (max-width: 767.98px) {
    .col-lg-3 {
        margin-bottom: 10px; 
        margin-top: 25px;
    }

    .popup {
        width: 75%;
        justify-content: center;
        text-align: center;
    }

    input {
        width: 100%;
    }
    
    button {
        padding: 10px 20px;
        margin: 5px 0;
        width: 100%;
		display: flex;
		justify-content: center;
    }

    .container {
        overflow-x: scroll;
    }

    .col-md-9 {
        padding-top: 50px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .col-lg-3 {
        margin-bottom: 10px; 
        margin-top: 25px;
    }
}

/* Large devices (small desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1599.98px) {
    .col-lg-3 {
        border-right: 1px solid #ccc; 
        margin-right: 75px;
    }
}

/* Extra large devices (large desktops, 1600px and up)*/
@media (min-width: 1600px) {
    .col-lg-3 {
        border-right: 1px solid #ccc; 
        margin-right: 75px;
    }
}