.form {
    margin: 50px auto;
    max-width: 30rem;
    border: var(--border);
    font-size: 1.2rem;

    background: var(--background-color);
    box-shadow: 0.75rem 0.75rem 0 -0.2rem goldenrod;
}

.form__flash--danger {
    color: red;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form__flash--success {
    color: var(--accent-colour-2);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form__flash--info {
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form__container--info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form__small {
    text-align: center;
    margin-right: 2rem;;
}

.form__container {
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
}

@media screen and (min-width: 24.75em) {
    .form__container {
        padding-left: 2rem;
    }
}

@media screen and (min-width: 30em) {
    .form__container {
        padding-left: 2.5rem;
    }
}
@media screen and (min-width: 24.75em) {
    .popup {
        padding-left: 2rem;
    }
}

.popup {
    display: block;
    position: fixed;
    background-color: var(--background-color);
    color: var(--text-dark);
    border: var(--border-1px);
    border-radius: 5px;
    width: 95%;
    z-index: 1000;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

@media screen and (min-width: 30em) {
    .popup {
        padding-left: 2.5rem;
    }
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.form__label {
    margin-bottom: 0.5rem;
}

.form__field {
    outline: none;
    border: none;
    
    border-bottom: 3px solid #fff;
    
    font-size: inherit;
    font-family: inherit;

    padding: 0.75rem 0.5rem;
    width: 100%;
    background: var(--background-color);
}

.form__field:focus {
    border-bottom: var(--border);
}

.button--form {
    margin: 2rem 0 0 auto;
    padding: 0.75rem 3rem;
    border: none;
    background: var(--background-color);
}

.button--form:hover {
    background: var(--background-color-hover);
}

.form__error{
    color: red;
}