{% from "macros/svgs.html" import moon, sun %}

{% macro header(email, theme) %}
<header class="header fixed-top"> 
    <div class="nav-container">
        <a href="{{ url_for('homepage') }}" class="header__logo">
            <img src="{{ url_for('static', filename='image/unifillogo.png') }}" width="125px" height="40px" alt="Logo UniFil">
        </a>
        <nav class="nav">
            {% if not email %}
                <a 
                    href="{{ url_for('register') }}"
                    class="nav__link"
                >
                    <span class="nav__item">Cadastrar</span>
                </a>
                <a 
                href="{{ url_for('login') }}" 
                class="nav__link"
                >
                <span class="nav__item">Entrar</span>
                </a>
            {% else %}
                <a
                    href="{{ url_for('index') }}" 
                    class="nav__link"
                >
                    <span class="nav__item">Início</span>
                </a>
                <a 
                    href="{{ url_for('logout') }}"
                    class="nav__link"
                >
                    <span class="nav__item">Sair</span>
                </a>
            {% endif %}
            <a href="{{ url_for('toggle_theme', current_page=request.path) }}" class="nav__link">
                <span class="nav__item">
                    {% if theme == "dark" %}
                        {{ sun("nav__icon") }}
                    {% else %}
                        {{ moon("nav__icon") }}
                    {% endif %}
                </span>
            </a>
        </nav>
    </div>
</header>
{% endmacro %}