{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bills_to_pay.css') }}">
{% endblock %}

{% block main_content %}
    <h1>Todas as contas</h1>
    {% if bill_data %}
        <table class="table">
            <colgroup>
                <col style="width: 20%">
                <col style="width: 20%">
                <col style="width: 20%">
                <col style="width: 20%">
                <col style="width: 20%">
            </colgroup>
            
            <thead>
                <th class="table__cell table__cell--header">Nome da Conta</th>
                <th class="table__cell table__cell--header">Valor</th>
                <th class="table__cell table__cell--header">Data de vencimento</th>
                <th class="table__cell table__cell--header">Descrição</th>
                <th class="table__cell table__cell--header"></th>
            </thead>
            <tbody>
                {% for bill in bill_data %}
                    <tr>
                        <td class="table__cell">
                            <p class="table__billname">{{ bill.billName }}</p>
                        </td>
                        <td class="table__cell">{{ bill.billValue }}</td>
                        <td class="table__cell">{{ bill.expireDate }}</td>
                        <td class="table__cell">{{ bill.description}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="table__empty">Você ainda não possui nenhuma conta a pagar, deseja <a href="url_for('add_bill')" class="link">adicionar uma conta</a>?</p>
    {% endif %}

    <a
        href="{{ url_for('add_bill') }}" 
        class="button button--add"
    >
    <span>+</span>
    </a>

{% endblock %}