{% from "macros/fields.html" import render_text_field %}

{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block main_content %}
    <div class="col-md-9">
        <h1>Recuperação de conta</h1>
        <p>Informe um e-mail cadastrado para continuar</p>
    </div>
    
    <form name="login" method="post" novalidate class="form">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <span class="form__flash--{{ category }}">{{ message }}</span>
            {% endfor %}
        {% endwith %}


        <div class="form__container">
            {{ form.hidden_tag() }}
            {{ render_text_field(form.email, placeholder="E-mail") }}
            <div>
                {{ form.submit(class_="button button--form") }}
            </div>
        </div>
        
    </form>
    {% endblock %}