{% from "macros/fields.html" import render_text_field %}
{% from "macros/svgs.html" import bill, list %}
{% from "macros/svgs.html" import allbills, list %}
{% from "macros/svgs.html" import extra, list %}

{% extends "layout.html" %}

{% block head_content %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bills.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="col">
                    <a
                        href="{{ url_for('add_bill', latest_url=request.url) }}" 
                        class="nav__link pt-4 pb-4 bill__icon"
                    >
                        <span class="col-2">{{ bill("bill") }}</span><span class="nav__item col-10">Adicionar Conta</span>
                    </a>
                    <a
                        href="{{ url_for('bills_to_pay') }}" 
                        class="nav__link pb-4 bill__icon"
                    >
                        <span class="col-2">{{ allbills("allbills") }}</span><span class="nav__item col-10">Todas as Contas</span>
                    </a>
                    <a
                        href="{{ url_for('receipts') }}" 
                        class="nav__link pb-4 bill__icon"
                    >
                        <span class="col-2">{{ extra("extra") }}</span><span class="nav__item col-10">Outras rendas</span>
                    </a>
                </div>
            </div>
    
            <div class="col-lg-8 p-3">
                <h1 class="pb-2">Olá, {{ user_name }}</h1>
                <p>Seu saldo para o mês de {{ mes }} é de <strong style="color: #28b728;">{{ user_income }}</strong></p>
                {% if negative %}
                    <p>Atualmente, você possui <strong style="color: #ec2020;">{{ free_value }}</strong> de saldo negativo</p>
                {% else %}
                    <p>Atualmente, você possui <strong style="color: #28b728;">{{ free_value }}</strong> livres para gastar</p>
                {% endif %}
                
                <h1 class="pt-2 pb-1">Contas mais recentes de {{ mes }}</h1>
                {% if bill_data %}
                    <table class="table text-center align-middle">
                        <thead>
                            <th class="table__cell table__cell--header">Nome da Conta</th>
                            <th class="table__cell table__cell--header">Valor</th>
                            <th class="table__cell table__cell--header">Descrição</th>
                            <th class="table__cell table__cell--header"></th>
                        </thead>
                        <tbody>
                            {% for bill in bill_data %}
                                <tr>
                                    <td class="table__cell">
                                        <p class="table__element pt-3">{{ bill.billName }}</p>
                                    </td>
                                    <td class="table__cell">
                                        <p class="table__element pt-3">{{ bill.billValue }}</p>
                                    </td>
                                    <td class="table__cell">
                                        <p class="table__element pt-3">{{ bill.description }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="table__empty">Não há contas recentes a exibir, <a class="table__link" href="{{ url_for('add_bill', latest_url=request.url) }}" >adicione uma nova conta</a> para poder visualizá-la</p>
                {% endif %}
            </div>
        </div>    
    </div>
{% endblock %}    