{% from "macros/fields.html" import render_text_field %}

{% extends "layout.html" %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
{% endblock %}

{% block main_content %}
    <form name="add_bill" method="post" novalidate class="form">
        <div class="form__container">
            {{ form.hidden_tag() }}
            {{ render_text_field(form.bill_name, placeholder="Nome da conta") }}
            {{ render_text_field(form.bill_value, placeholder="Valor da conta", id="income_field") }}
            {{ render_text_field(form.description, placeholder="Descrição") }}
            {{ render_text_field(form.frequence, placeholder="Frequencia") }}

            <div>
                {{ form.submit(class_="button button--form") }}
                {{ form.cancel(class_="button button--form") }}
            </div>
        </div>
    </form>
    <script>
        $(document).ready(function(){
            $('#income_field').mask('000.000.000.000.000,00', {reverse: true});
        });
    </script>
{% endblock %}