{% from "macros/svgs.html" import trash, pencil %}
{% from "macros/fields.html" import render_text_field %}

{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bills.css') }}">
{% endblock %}

{% block main_content %}
    <h1>Todas as suas rendas do mês de {{ mes }}</h1>
    {% if receipt_data %}
        <table class="table">
            <colgroup>
                <col style="width: 20%">
                <col style="width: 20%">
                <col style="width: 20%">
                <col style="width: 20%">
                <col style="width: 20%">
            </colgroup>
            
            <thead>
                <th class="table__cell table__cell--header">Nome da Renda</th>
                <th class="table__cell table__cell--header">Valor</th>
                <th class="table__cell table__cell--header">Data de inserção</th>
                <th class="table__cell table__cell--header">Descrição</th>
                <th class="table__cell table__cell--header"></th>
                <th class="table__cell table__cell--header"></th>
            </thead>
            <tbody>
                {% for receipt in receipt_data %}
                    <tr>
                        <td class="table__cell">
                            <p class="table__billname">{{ receipt.receiptName }}</p>
                        </td>
                        <td class="table__cell">{{ receipt.receiptValue }}</td>
                        <td class="table__cell">{{ receipt.insertDate }}</td>
                        <td class="table__cell">{{ receipt.description}}</td>
                        <td class="table__cell"><a class="bill__edit" href="{{ url_for('edit_receipt', _id=receipt._id) }}">{{ pencil("pencil") }}</a></td>
                        
                        <td class="table__cell">
                            <a href="{{ url_for('delete_receipt', _id=receipt._id) }}" class="table__link" id="mostrarPopup">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="table__empty">Você ainda não possui nenhuma renda cadastrada, deseja <a href="{{ url_for('add_receipt', latest_url=request.url) }}" class="link">adicionar uma renda</a>?</p>
    {% endif %}

    <a
        href="{{ url_for('add_receipt', latest_url=request.url) }}" 
        class="button button--add"
    >
    <span>+</span>
    </a>

    {% if confirm_delete %}
        <div class="overlay" id="overlay"></div>
        </div>

        <div class="popup" id="popup">
            <h2>Deseja excluir esta conta?</h2>
            <p>Esta ação é definitiva</p>
            <form method="POST">
                <input type="hidden" name="operacao" value="excluir">
                <button type="submit">Confirmar</button>
            </form>
            <form method="POST">
                <input type="hidden" name="operacao" value="cancelar">
                <button type="submit">Cancelar</button>
            </form>
        </div>
    {% endif %}

    {% if confirm_edit %}
        <div class="overlay" id="overlay"></div>
        <div class="popup" id="popup">
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <h2>Editar dados</h2>
            <p>insira apenas os campos que você deseja alterar</p>
            {% for receipt in receipt_data %}
                <form method="POST">
                    <label for="receiptName">Nome da conta</label>
                    <input id="receiptName" type="text" value="{{ receipt.receiptName }}" name="receiptName" placeholder="Novo nome da conta">
                    <label for="receiptValue">Valor</label>
                    <input id="receiptValue" type="float" value="{{ receipt.receiptValue }}" name="receiptValue" placeholder="Novo valor">
                    <label for="description">Descrição</label>
                    <input id="description" type="text" value="{{ receipt.description }}" name="description" placeholder="Nova descrição">
                    <input  type="hidden" name="operacao" value="Confirmar">
                        <button type="submit">Confirmar</button>
                </form>
            {% endfor %}
            
            <form method="POST">
                <input type="hidden" name="operacao" value="cancelar">
                <button type="submit">Cancelar</button>
            </form>
        </div>
    
    {% endif %}

{% endblock %}