{% from "macros/fields.html" import render_text_field %}

{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
{% endblock %}

{% block main_content %}
    <form name="register" method="post" novalidate class="form">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <span class="form__flash form__flash--{{ category }}">{{ message }}</span>
            {% endfor %}
        {% endwith %}


        <div class="form__container">
            {{ form.hidden_tag() }}
            {{ render_text_field(form.nome, placeholder="Nome completo") }}
            {{ render_text_field(form.email, placeholder="E-mail") }}
            {{ render_text_field(form.income, placeholder="Renda mensal", id="income_field") }}
            {{ render_text_field(form.password, placeholder="Senha") }}
            {{ render_text_field(form.confirm_password, placeholder="Confirme sua senha") }}
            

            <span class="form__small">
                Já possui uma conta? <a href="{{ url_for('login') }}" class="form__link">Fazer Login</a>
            </span>

            <div>
                {{ form.submit(class_="button button--form") }}
            </div>
        </div>
    </form>
    <script>
        $(document).ready(function(){
            $('#income_field').mask('000.000.000.000.000,00', {reverse: true});
        });
    </script>
{% endblock %}