{% from "macros/svgs.html" import trash, pencil %}
{% from "macros/fields.html" import render_text_field %}

{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
{% endblock %}

{% block main_content %}
    <h1 class="pt-5">Dados cadastrais</h1>
    <table class="table text-center">
        <thead>
            <th class="table__cell table__cell--header">Nome</th>
            <th class="table__cell table__cell--header">E-mail</th>
            <th class="table__cell table__cell--header">Renda</th>
        </thead>
        <tbody>
                <tr>
                    <td class="table__cell">
                        <p class="table__billname">{{ user.name }}</p>
                    </td>
                    <td class="table__cell">{{ user.email }}</td>
                    <td class="table__cell">{{ user.income }}</td>
                </tr>
        </tbody>
    </table>

    {% if confirm_edit %}
        <div class="overlay" id="overlay"></div>
        <div class="popup text-center align-middle" id="popup">
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <h2>Editar dados</h2>
            <p>Insira apenas os campos que deseja alterar</p>
                <form method="POST">
                    <label for="name">Nome</label>
                    <input id="name" type="text" value="{{ user.name }}" name="name" placeholder="Novo nome do funcionário">
                    <label for="email">E-mail</label>
                    <input id="email" type="email" value="{{ user.email }}" name="email" placeholder="Novo E-mail">
                    <label for="income">Renda</label>
                    <input id="income" type="float" value="{{ user.income }}" name="income" placeholder="Nova renda">
                    <div class="pt-5">
                        <input  type="hidden" name="operacao" value="Confirmar">
                        <button type="submit">Confirmar</button>
                    </div>
                </form>
            <div class="pt-2">
                <form method="POST">
                    <input type="hidden" name="operacao" value="cancelar">
                    <button type="submit">Cancelar</button>
                </form>
            </div>
        </div>
    
    {% endif %}
        
    <a class="button button--add" href="{{ url_for('edit_user', _id=user._id) }}">{{ pencil("pencil") }}</a>

    <script>
        $(document).ready(function(){
            $('#income').mask('000.000.000.000.000,00', {reverse: true});
        });
    </script>

{% endblock %}